<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>ABS Analytics</span>
  <div class="toolbar-content">
    <app-search></app-search>
  </div>
</div>

<div class="content" role="main">
  <mat-sidenav-container class="sidebar">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/'">Home</a>
        <a mat-list-item [routerLink]="'/portfolio'">Portfolio</a>
        <a mat-list-item [routerLink]="'/deal'">Deal</a>
        <a mat-list-item [routerLink]="'/filing'">Filing</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="nav-body">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
