<input class="search-box" matInput placeholder="Search Company, Deal, Property or anything you want" type="search"
[ngClass]="{'has-search-result':hasSearchResult}"
(input)="onSearch($event)"
[(ngModel)]="searchStr" />
<mat-action-list role="list" *ngIf="hasSearchResult">
  <div *ngFor="let result of results">
    <button mat-list-item  role="listitem">
      <b style="padding-right:2px">{{result.type}}: </b>
      <span>{{result.record.name}}</span>
      <span>(cik: {{result.record.cik}})</span>
    </button>
  </div>
</mat-action-list>
